:root {
    --button: #FF0000;
    --main-background:  #C4C4C4;
    --background: #E5E5E5;
    --text: #000;
    --footer: #000;
    --text-description: #9C9696;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: var(--text);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: var(--background);
}
header .links {
    display: flex;
    gap: 50px;
    font-size: 24px;
    font-weight: bold;
}
header .links a:hover {
    color: var(--button);
}
header .search-bar {
    display: flex;
    gap: 8px;
    background-color: #fff;
    padding: 0px 8px;
}
header .search-bar input {
    padding: 10px 0px;
    border: none;
}
header .icon-bag {
    cursor: pointer;
}

main {
    display: flex;
}
main .description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 80px;
    background-color: var(--background);
}
main .description h1 {
    font-size: 3rem;
}
main .description p {
    color: var(--text-description);
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 20px;
}
main .description div {
    font-size: 2rem;
    font-weight: bold;
}
main .description button {
    background-color: var(--button);
    color: var(--background);
    border: none;
    padding: 25px 70px;
    font-size: 1.2rem;
    cursor: pointer;
}
main .description button:hover {
    background-color: #c20000;
}
main .images {
    width: 85vw;
    text-align: center;
    background-color: var(--main-background);
}
main .images .big-image {
    background-color: var(--main-background);
}
main .images .gallery-images {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--main-background);
}
main .images .gallery-images img {
    margin-bottom: 20px;
    width: 260px;
    height: 190px;
}
main .images .gallery-images img:hover {
    transform: scale(1.02);
    border-bottom: 3px solid var(--button);
    cursor: pointer;
}

footer {
    display: flex;
    align-items: center;
    background-color: var(--background);
}
footer img {
    cursor: pointer;
}
footer nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1.2;
    background-color: var(--background);
    padding: 10px 20px 10px 10px;
    font-weight: bold;
}
footer nav a:hover {
    text-decoration: underline;
}
footer .more {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 15px;
    background-color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    height: 26vh;
    cursor: pointer;
}
footer .more p {
    color: var(--background);
}