:root {
	--dark: #292C35;
	--light: #F1F1F1;
	--label: #111;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
    transition: background-color .6s;
}
.dark {
    background-color: var(--dark);
    transition: all .6s;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18%;
    height: 15vh;
    background-color: var(--label);
    padding: 5px 10px;
    border-radius: 70px;
}
.container img {
    height: 100%;
    user-select: none;
}
.container .switch {
    position: absolute;
    width: 85px;
    height: 85px;
    background-color: #fff;
    border-radius: 100%;
    cursor: pointer;
    transform: translateX(0);
    transition: transform .6s;
}
.container .switch.switch-dark {
    transform: translateX(8.9rem);
    transition: all .6s;
}

@keyframes switchOn {
    from {
        transform: translateX(0);
    } to {
        transform: translateX(8.9rem);
    }
}