@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #ffbc89, #ee944f);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(170, 106, 57, 0.644);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #a7612d;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(85, 50, 23, 0.726);
}

h2 {
    color: #178391;
}

p {
    text-align: justify;
}